    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="description" content="Stay on top of the latest trends and developments in the AI industry with our AI blog for enterprise companies. Get valuable insights, perspectives, and case studies on AI applications and solutions, AI ethics and governance, AI and business strategy, and more. Join the AI community and learn how to leverage AI in your business for improved productivity, efficiency, and innovation.">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
