<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZPFFEN7V3B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZPFFEN7V3B');
    </script>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
